      .contacts-table tr:not(.isEditing) .isEditing-visible {
        display: none;
      }
      .contacts-table tr:not(.isEditing) .isEditing_hidden {
        display: block;
      }
      .contacts-table tr.isEditing .isEditing-visible {
        display: block;
      }
      .contacts-table tr.isEditing .isEditing-hidden {
        display: none;
      }